#
# ▄▀█ █░░ ▄▀█ █▀█ █▄░█ █ ▄▀█ █▄░█
# █▀█ █▄▄ █▀█ █▀▀ █░▀█ █ █▀█ █░▀█
# 🅢🅐🅢🅢 🅜🅔🅣🅐 🅜🅞🅓🅤🅛🅔
# 
# (c)  2025 Alapnian <support@alapnian.com>
# </>  Powered by XVIID <alapnian@xviid.net>
# 
# For the full copyright and license information, please view
# the LICENSE file that was distributed with this source code.
# 

#-------------------------
# Stylesheets
#-------------------------
.sass-cache/
*.css.map
*.sass.map
*.scss.map

#-------------------------
# Nodejs
#-------------------------
node_modules/
npm-debug.log

#-------------------------
# Composer
#-------------------------
vendor/

#-------------------------
# IDE / Development Files
#-------------------------

# Netbeans
nbproject/
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

# Visual Studio Code
.vscode/

/results/
/phpunit*.xml
/.phpunit.*.cache